body{background:none;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.hd{min-width:960px;width:80%;height:auto;}
.topnav{background:#FFF;height:72px;}
.fc_gray{color:gray;}
.fc_blue{color:#247CD6;}
.fc_green{color:#2C8541;font-size:18px;}
.login{width:100%; padding-top:1px;font-size:12px;}
.login a{color:#333;font-size: 14px;}
.login a:hover{text-decoration:underline;}
a.a_loading_on{font-weight:bold; border-bottom:2px solid #247CD6;padding:0 6px 2px;color:#247CD6;}
a.a_loading_on:hover{color:#447BC4;text-decoration:none;}
.jg_search{top:-20px; position:relative; width:500px;}
.wrap2{width:960px; margin:0 auto 0;padding-top:40px;}
.wrap1100{width:100%;margin:0 auto 0;}
.user_menu{width:100%; margin:0px auto; background:url("/img/user_navbg.png") repeat left top; height:38px;z-index:1000; position:relative;}
.user_menu ul{min-width:960px;width:80%; margin:0 auto; position:relative;}
.user_menu li{width:125px; height:37px; text-align:center;padding-top:0px; float:left; margin-right:14px; font-size:12px; color:#fff;}
.user_menu li a{text-decoration:none; color:#fff; cursor:pointer;}
.user_menu li a:hover{color:#FFF;}
.user_menu li a:hover span{background:#2F64A6;border-top-left-radius:3px;border-top-right-radius:3px;}
.user_menu li span{display:block; width:116px; height:29px; line-height:25px; text-indent:10px; overflow:hidden; font-size:12px;}
.user_menu .home{background:url("/img/user_home.png") no-repeat 13px -29px;}
.user_menu .menu_on{background:#2F64A6;}
.user_menu .menu_on a{color:#FFF;display:block;height:37px;line-height:37px;font-weight:bold;}
.user_menu .menu_on a:hover{background:#3872BA;}
.user_menu .menu_on a:hover span{background:none;}
.user_menu a:hover .home{background:#2F64A6 url("/img/user_home.png") no-repeat 13px -29px;border-top-left-radius:3px;border-top-right-radius:3px;}
.user_menu a:hover .menu_set{background:#2F64A6 url("/img/menu_set.png") no-repeat 5px 3px ;border-top-left-radius:3px;border-top-right-radius:3px;}
.user_menu .menu_on span{font-weight:bold; line-height:28px;}
.user_menu .menu_on .home{background-position:13px 6px;}
.user_menu .menu_on a:hover .home{background:url("/img/user_home.png") no-repeat 13px 6px;}
.user_menu .tj{border:0; color:#fff;}
.user_menu .tj a{line-height:25px; color:#fff; text-decoration:none;}
#liblock{border-left:10px solid #FFF;margin-right:0px;width:20px;height:28px;line-height:28px;}
#menu_setting{    background: url("/img/menu_set.png") no-repeat scroll 26% 9px ;color: #FFFFFF;float: none;font-size: 12px;height: 38px;line-height: 38px;margin-right: 0;padding-left: 15px;padding-top: 0;position: relative;text-align: center;top: 0;width: 110px;}
.user_menu .menu_url{border-radius:0; max-width:350px; width:auto;top:0;padding:0px; display:inline-block; background:#1769BD; height:30px;_display:inline; zoom:1;}
.user_menu .menu_url a p{padding-left:40px; padding-right:50px;text-indent:0;height:37px; line-height:37px;background:#1769BD url(/img/menu_urlbg.gif) no-repeat right top; display:inline-block; _display:inline; zoom:1;}
.user_menu .menu_url a:hover p,.user_menu .menu_url .on_menu_url{background:#094B8F url("/img/menu_urlbg.gif") no-repeat right bottom;}




.user_menu .menu_urllist{position:absolute; top:37px; left:0; background:#f4f4f4; border:1px solid #8c8c8c; z-index:2000;min-width:131px;box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);}
.user_menu .menu_urllist dd{text-align:left;}
.user_menu .menu_urllist dd a{color:#333; display:block;line-height:30px; text-indent:20px; padding-right:10px;}
.user_menu .menu_urllist dd a:hover{background:#ececec; color:#000;}
.user_menu .menu_setbox{float:right; width:30px;margin-right:0px; padding-left:10px; overflow:hidden;}
.user_menu .menu_set{background:url("/img/menu_set.png") no-repeat 5px 3px ; text-indent:-9999px;}
.user_menu .menu_on .menu_set{background-position:left -30px;}

#add_url{text-align:left;height:30px; position:relative;}
.add_btn{background: none repeat scroll 0 0 #3FA156;border: 1px solid #1D7431;height:29px; width:100px; display:block;text-decoration:none; color:#fff; font-size:14px; text-align:center; line-height:28px; border-radius:2px 2px 2px 2px;vertical-align: middle;}
.add_btn:hover{background:#3C9551;border:1px solid #1D7431;color:#fff;text-decoration:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}
.add_btn_hover{background:#3C9551;border:1px solid #1D7431;color:#fff;text-decoration:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}
.add_btn_hover span,.add_btn span{border: 1px solid #3C9551;font-size: 14px;padding: 4px 21px 5px;}
.add_btn_hover span{border: 1px solid #FFF;font-size: 14px;padding: 4px 21px 5px;border-radius:2px;}
.add_btn_hover div{line-height:27px;border: 1px solid #FFF;font-size:14px;border-radius:2px;}
.add_btnbg2{background:url("/img/user_add_btn.gif") no-repeat left top;}
.step_tips1{position:absolute; left:130px; top:0}

.usr_urllist{margin-top:15px;min-height:450px;height:auto;margin:30px auto 0;}
.user_urltable{margin-top:10px;padding-top:10px; *margin-top:32px;}
.user_urltable th{background:#E9F2FB;border-bottom:1px solid #C8D7E6; font-size:12px; padding-left:5px}
.user_urltable td{border-bottom:1px solid #C8D7E6; padding:5px; height:89px}
#errtxt{}
.user_urltable td a{margin-right:10px;}
.user_urltable td img{vertical-align:bottom;}
#check_inputbox{width:380px; height:75px; background:#F4F4F4; border:1px solid #ccc;padding:5px 10px;	-moz-box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);-webkit-box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);}
#check_inputbox p{line-height:25px;}
.addurl_input{width:290px; height:23px; border:1px solid #666; line-height:23px; padding-left:3px; padding-right:3px; color:#666;}
.addurlbtn{border:1px solid #085099; background:url("/img/urlbtn_bg.jpg") no-repeat left top; width:58px; height:25px; cursor:pointer;}
.validdomainbox{width:544px;background:#fff;}
.validdomainbox h2{color:#FFF;height:30px; line-height:30px;background: url("/img/user_navbg.png") repeat-x scroll 50% 50% #F6A828;text-align:center; position:relative; font-size:14px;}
.check_conbox{padding:10px 15px;}
.check_con{margin-top:4px;}
.check_url{color:#333; font-size:12px; line-height:30px;}
.check_url_info{background: none repeat scroll 0 0 #FFFBCC;padding: 0 5px;color:#333; font-size:11px; line-height:18px;text-align:center;margin-left:20px;width:300px;}
.check_container{border:1px solid #ACBACC;padding:5px 15px;height:230px;}
.check_title{}
.check_title li{float:left; width:106px; height:27px; line-height:27px; text-align:center; margin-right:2px; position:relative; top:1px; cursor:pointer;}
.check_title li a{background:url("/img/check_titlebg.jpg") no-repeat left top; display:block; text-decoration:none; outline:none;color:#999;}
.check_title a.selected{background-position:left -27px;color:#000;font-weight: bold;}
.check_container p{line-height:25px;font-size:13px;}
.check_container p label {cursor: pointer;}
.check_container p i{color:#777;font-size: 12px;}
.check_btn{text-align:right; height:30px;padding-right:30px;}
.check_btn a{background:#3FA156; float:right; display:block; width:100px; height:29px; border:1px solid #1D7431; line-height:29px; color:#fff; font-size:14px; text-align:center; text-decoration:none; border-radius:2px;}
.check_btn a:hover{background:#3C9551;border:1px solid #1D7431;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}

.step_tips{position:relative; height:1px;z-index:-2000;}
.step_tips2,.step_tips3{position:absolute; top:0;}
.step_tips2{right:350px;}
.step_tips3{right:0px;}

#zroe h1,#two h1{font-size:16px;font-weight:normal;padding:11px 0;}
#zroe{color: #333333;}
.op_back{width:100%;height:100%;background:none repeat scroll 0 0 #333333;opacity:0.5;left:0;position:absolute;top:0;display:none;}

.verify_box {background-color:#F1F8F8;margin-top:4px;padding:2px 0px 2px 10px;}
.verify_box textarea {color: #454545;height: 74px;line-height: 1.6;margin: 5px;padding: 5px;width: 686px;}
.check_dt{margin:10px auto;}
#kfqq{}
#kfqq img{left:7px;position:relative;top:4px;}
#three input{border:1px solid #999;height:16px;padding:2px;width:184px;}
#three dl{height:194px;padding-left:10px;}
.check_dt dt{line-height:30px; font-weight:bold; font-size:14px;}
.check_dt dd {color: #444444;font-size: 12px;line-height: 25px;}
.im{padding:0;margin:0;}
.im li{line-height:2; padding-top:0; width:100%;}
.w960{width:960px; margin:0 auto;}
.w1100{min-width:960px;width:80%;margin:0 auto;}
.foot{background-color:#efefef;border-top:1px solid #ccc;bottom:0;text-align: center;width: 100%;}
.foot_l_320{width:400px; float:left;text-align:left; overflow:hidden;padding-left:40px;}
.foot_l_290{width:280px; float:left;text-align:left; overflow:hidden;}
.foot_l_240{width:180px; float:left;text-align:left; overflow:hidden;}
.foot_l_320 h2,.foot_l_290 h2,.foot_l_240 h2{line-height:40px; font-size:12px; color:#333;}
.foot_l_320 a,.foot_l_290 a,.foot_l_240 a{margin-right:15px;}
.links{padding-right:40px;}
.ft{border-top:none;background:none; margin-top:20px; height:auto; width:100%;}

#quick-add-close{background: url("/img/939333013-close-box.gif") no-repeat scroll 0 0 transparent;cursor: pointer;height: 9px;position: absolute;left: 378px;top:43px;width: 9px;}

/* 新增-网站设置 */
.site_set{padding-left:15px;}
.site_set h2{border-bottom:2px solid #C8D7E6; line-height:35px;font-size:12px;}
.site_set h2 span{float:right;line-height:35px;padding-right:17px;}
.web_scanning{margin-top:10px; padding-left:60px;}
.web_scanning dt{font-weight:bold; font-size:14px; height:30px; line-height:30px; margin-bottom:5px;}
.web_scanning dd{height:35px;line-height:35px;}
.web_scanning span{display:inline-block;line-height:23px; background:#fffbcc; border:1px solid #E7DA57; padding:0px 5px; margin-left:15px;}
.scanning_btn{text-align:left; margin-top:20px; padding-left:60px; height:50px;}
.scanning_btn input{border:1px solid #085099; border-radius:2px; width:58px; height:23px;cursor:pointer; background:url(/img/urlbtn_bg.jpg) no-repeat left top;}


/* 新增-个人设置 */
.web_userinfo{padding-top:5px; padding-bottom:5px; position:relative;}
.user_tname{width:90px; float:left; text-align:right; line-height:27px;color:#666;}
.user_tinput{width:380px; float:left; padding-left:10px; line-height:27px; position:relative;}
.user_tinput span{background-color: #666;background-image: -moz-linear-gradient(center top , #ccc, #777);background-image:-webkit-linear-gradient(top, #ccc, #777);color: #FFFFFF;padding:1px 20px;cursor: default;border-radius:14px;}
.user_tips{width:150px; position:absolute;left:510px;}
.check_yes,.check_no{background:url(/img/jg_tips_bg.png) no-repeat;height:27px;width:120px; line-height:27px;padding-left:40px;margin-top: 32px;display:none;float: left;}
.check_yes{background-position: 20px -392px;color:green;}
.check_no{background-position: 20px 4px;color:red;}
.reset_password a{text-decoration:none; color:#247CD6;}
.user_tinput input,.user_out,.editmail{width:280px;border:1px solid #999; padding:0 3px; padding-top:4px; padding-bottom:4px;}
.reset_password{position:absolute; right:60px; top:0px;}
.user_tinput input:hover,.user_hover,.editmail:hover{background:#FFFDD8;}
.user_tinput input:focus,.user_focus,.editmail:focus{background:#fff; border:1px solid #ccc;}
.webuser_checkbox{margin-top:10px; padding-left:100px; vertical-align:middle; height:28px; line-height:28px;font-weight: bold;}
.myform_sub{clear: both;height: 124px;}
.web_checktips_yes,.web_checktips_no{background: none repeat scroll 0 0 #3FA156;border: 1px solid #1D7431;width:84px;font-size:14px;height:26px; line-height:26px; text-align:center;margin-left: 100px;margin-top: 30px;color:#FFF;cursor: pointer;border-radius:2px;float: left;}
.web_checktips_on{background:#f1f1f1; border:1px solid #f4f4f4;}
#report_mail{border-color: #FFFFFF #FFFFFF #999999;border-style: none none solid;border-width: medium medium 2px;padding-bottom:4px;width: 180px;text-align: center;font-size: 13px;}
#report_mail:hover{background: none repeat scroll 0 0 #FFFDD8;}

/* 漏洞详情 */
.ldxq{width:1000px; margin:20px auto 0;min-height:460px;}
.ldxqbox{background:#f8f8f8; padding:15px;}
.ld_title{padding-bottom:20px; border-bottom:1px solid #ccc;}
.ld_state{float:left; width:170px; border-right:1px solid #ccc; height:90px; line-height:90px; font-size:24px; color:red; font-weight:bold; text-align:center;}
.ld_state img{vertical-align:middle; margin-right:10px; width:60px; height:60px;}
/* 漏洞详情 4种状态，高危，严重，警告，提示*/
.ld_state .ld_dangerous{color:#DD4B39;}
.ld_state .ld_serious{color:#DD4B39;}
.ld_state .ld_warning{color:#E58104;}
.ld_state .ld_tips{color:#444;}

.ld_name{float:left; text-align:left; text-indent:30px; padding-top:15px;}
.n1{font-size:24px; font-weight:bold; height:40px; color:#333;}
.n2{font-size:16px;}
.ld_con dl{padding-top:30px;}
.ld_con dt{font-weight:bold; width:120px; float:left; text-align:right; line-height:25px; font-size:14px;}
.ld_con dd{width:750px;float:left; padding-left:10px;line-height:23px;}
.ld_con dd p{text-align:left; line-height:23px;}
.user_use{text-align:center; margin-top:30px; border-bottom:1px dotted #ccc; padding-bottom:30px;}
.useful,.useless{width:116px; height:29px; line-height:29px; text-align:left; text-indent:40px; border-radius:4px; display:inline-block; *display:inline; zoom:1; margin-right:15px; cursor:pointer; color:#fff; font-size:14px; font-weight:bold;}
.useful{border:1px solid #1D7431; background:#1D7431 url(/img/use_bg.gif) no-repeat 10px 3px;}
.useless{border:1px solid #888; background:#b0b0b0 url(/img/use_bg.gif) no-repeat 10px -45px;}
.ld_pl{width:510px; margin:30px auto 0;}
.ld_txt{text-align:center;}
.ld_txt textarea{width:96%; overflow-y:auto; padding:5px;}
.ld_btn{text-align:right; margin-top:10px; height:35px;}
.ld_btn input{border:1px solid #085099; border-radius:2px; width:58px; height:23px;cursor:pointer; background:url(/img/urlbtn_bg.jpg) no-repeat left top;}
.pl_list{overflow:hidden;padding-bottom:20px;}
.pl_list dt{height:25px;text-align:left;padding-left:10px;line-height:25px;color:#666;position:relative;}
.pl_list dt a{color:#014CCC;line-height:20px;margin-right:10px;}
.pl_list dd{text-align:left;line-height:25px;color:#000;padding:5px 15px;}
.pl_list dl{margin-bottom:10px;}
.plbg1{background:#EBF1F8;}
.plbg2{background:#f7f7f7;}
.pages{clear:both;padding:6px 0 4px;text-align:right;width:100%;}
.pages a,.pages span{padding:2px 6px;margin-left:5px;}
.pages a:hover{background:#ebebeb;color:#247CD6;}
.pages span{color:#333;border:none; display:inline-block;}
.pages .current{font-weight:bold;background:none repeat scroll 0 0 #87A1B9;color:#eee;border:1px solid #87A1B9;}
.pages span.prev,.pages span.next{font-weight:normal;display:none;}
.use_checked{border:1px solid #955C5C; background:#CD6762 url(/img/use_bg.gif) no-repeat 10px -45px; cursor:text;}

/* 检测中心 */
.usr_urllist-right{width:260px;float:right;}
.usr_urllist-left{padding:0 14px 14px;margin:0 auto;}
.user-info-box {border:1px solid #ccc; margin-bottom:25px;padding:6px;box-shadow:4px 4px 0 rgba(0, 0, 0, 0.2);}
.user-info-box h2{line-height:25px; font-weight:bold; border-bottom:1px dashed #ccc; margin:0 5px;}
.user-info-box li{line-height:25px;padding:0 5px; text-align:left;}
.user-info-box .more{text-align:right;}
.user-info-box ul{padding:5px 0;}
#userhomenav{background: url("/img/user_home.png") no-repeat scroll 16px -23px ;color:#FFFFFF;font-size: 12px;height:38px;line-height:38px;position:relative;text-align:center;top:0px;width:110px;margin-right:0px;padding-top:0px;padding-left:15px;float:none;}

/* 安全报告 */
.jg_main1100{margin:-23px auto 0;position: relative;}

.jg_date_report{height:30px;margin-top: 0;border-bottom:2px dashed #C4CDE0;}
.webscan-body-right{border-left: 3px solid #C3CCDF;margin-left:172px;min-height:500px;padding-bottom: 50px;padding-left: 10px;width: 800px;}
.scan-report-main{padding:20px 0px 10px;border-bottom:1px dashed #C4CDE0; position:relative; margin:0 10px;margin-top: 10px;}
.jg_date_report ul {padding-left: 0px;padding-right:0px;}
.jg_date_report li {cursor:pointer;float:left;font-size:12px;padding-left:6px;padding-right:6px;text-align:center; width: 100px;}
.jg_date_report .a_loading {color:#999;display: block;line-height:28px;text-decoration: none;width:100px;}
.jg_date_report .a_loading:hover {color:#333;line-height:28px;height:28px;}
.jg_date_report .date_on {display: block;font-weight:bold;height:30px;line-height:28px;width: 98px;color:#333;text-decoration:none;}
.jg_date_div{margin:auto;}
.wrap1100_detail{margin:50px auto 0;}
#dialog_adddomain p{margin:5px 0}
#tasklisttable .report_btn{background: none repeat scroll 0 0 #3FA156;border: 1px solid #1D7431;height:25px; width:65px; display:block;text-decoration:none; color:#fff; font-size:12px; text-align:center; line-height:25px; border-radius:2px 2px 2px 2px;vertical-align: middle;}
#tasklisttable .report_btn:hover{background:#3C9551;border:1px solid #1D7431;color:#fff;text-decoration:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}
#tasklisttable .jiance_btn{background: none repeat scroll 0 0 #3FA156;border:1px solid #1D7431;color:#fff; border-radius:2px 2px 2px 2px;padding:3px 12px; position:absolute; top:5px; right:120px; line-height:18px; width:50px}
#tasklisttable .jiance_btn:hover{background:#3C9551;border:1px solid #1D7431;text-decoration:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}

#tasklisttable .jiance_new_btn{background: none repeat scroll 0 0 #3FA156;border: 1px solid #1D7431;height:25px; width:75px; display:inline-block;text-decoration:none; color:#fff; font-size:12px; text-align:center; line-height:25px; border-radius:2px 2px 2px 2px;vertical-align: middle;}
#tasklisttable .jiance_new_btn:hover{background:#3C9551;border:1px solid #1D7431;color:#fff;text-decoration:none;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);text-shadow: 0 1px rgba(0, 0, 0, 0.1);}

.more_link{text-align:center;width:74px;position:relative;margin-right:4px; float:right;font-weight: normal;z-index: 10;}
.more_link a{color:#333;display:block;font-size:14px;height:24px;line-height:24px;position:relative;text-decoration:none;z-index:2;float:left;text-align:center;width:100%;}
.more_link .oh_main{position:relative; z-index:10;}
.more_link a:hover{color:#000;text-decoration:none;}
.more_link .oh_sub{display:none;left:0;padding-bottom:2px;position:absolute;top:0px;width:100%;padding-top:2px;border:1px solid #BBB;background:none repeat scroll 0 0 #FFF;box-shadow:0 2px 2px #CCCCCC;text-indent:7px;}
.more_link .item{text-align:center; width:100%;}
.more_link .item a{display:block;height:25px;line-height:25px;text-align:left;color:#333;}
.more_link .item a:hover{background:#eee;font-weight:normal;color:#000;box-shadow:0 0 0;}
#more_del{text-align:left;background:url("/img/jg_tips_bg.gif") no-repeat scroll 38px -462px transparent;}
.web_loudong{line-height:35px; position:relative; height:35px}
.new_add_fcgray{ padding-right: 131px;text-align: right;}
a.nyroModal{color:#247CD6;font-size:14px;}
a.nyroModal:hover{color:#247CD6;text-shadow: 0 1px rgba(0, 0, 0, 0.1);}
a.view_newst_rp {}
a.view_newst_rp:hover {text-decoration: underline;}